<app-header [drawer]="drawer" />

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [fixedInViewport]="isHandset$ | async"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <app-nav [drawer]="drawer" />
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <router-outlet />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer />
